<!DOCTYPE html>
<html>

<head>
  <title>Course List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Course List</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <h5>Course 1</h5>
        <p>Description of Course 1.</p>
      </li>
      <li class="list-group-item">
        <h5>Course 2</h5>
        <p>Description of Course 2.</p>
      </li>
      <li class="list-group-item">
        <h5>Course 3</h5>
        <p>Description of Course 3.</p>
      </li>
      <!-- Add more courses here -->
    </ul>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
